body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5vh;
}

input {
    width: 45%;
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: gray;
    font-size: 100%;
}
button {
    width: 15%;
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #777;
    font-size: 100%;
    background: white;
    background: -webkit-linear-gradient(white, #ccc);
    background: -o-linear-gradient(white, #ccc);
    background: -moz-linear-gradient(white, #ccc);
    background: linear-gradient(white, #ccc);
}
button:hover {
    border:2px solid #aaa;
}
ul {
    list-style-type: none;
    padding-left: 0;
}

img {
    margin-right: 2vh;
    display: block;
    width: 20vh;
    height: auto;
}
.container {
    border-radius: 6px;
    padding: 2vh 1vh;
    margin: 2vh 1vh;
    box-shadow: 5px 5px 15px grey;
}

#search-form {
    text-align: center;
}
#result {
    margin-top: 2vh;
    display: none;
    overflow-y: auto;
    max-height: 85vh;
}

#error {
    display: none;
    padding: 15px;
    border: 1px solid #FF0000;
    border-radius: 5px;
    background-color: #FFA1A1;
    color: #700;
}
.profile {
    width: 100%;
    height: auto;
    overflow: auto;
}
#image {
    margin-right: 2%;
}
#data {
    display: inline-block;
    max-width: 78%;
    float: left;
}
#username {
    font-style: italic;
    font-size: 2vh;
}
#fullname {
    font-size: 2em;
    font-weight: bold;
}
.wrapper {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: solid 1px darkgrey;
    display: inline-block;
}
.left {
    text-align: left;
    float: left;
    width: 70%;
}
.right {
    text-align: right;
    float: right;
    width: 25%;
}
@media only screen and (max-device-width: 768px) {
    .profile {
        text-align: center;
    }
    #data {
        max-width: 100%;
        width: 100%;
    }
    #image {
        width: 100%;
        height: auto;
        overflow: auto;
    }
    input {
        width: 60%;
    }
    button {
        width: 30%;
    }
}